/* Predefined values */

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --primary-color: hsl(277, 64%, 61%);
  --overlay-color: hsla(277, 100%, 41%, 0.466);

  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background: var(--main-background);
  color: #fff;
  margin: 4rem 2rem;
}
/* Utilities */

span.text-primary {
  color: var(--primary-color);
}

span.text-secondary {
  color: var(--main-heading-stats);
  font-size: 1.5rem;
  font-weight: 600;

  font-family: var(--secondary-font);
}

/* Main */

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container .content {
  display: flex;
  flex-direction: column;
  background: var(--card-background);
  width: 100%;
  padding: 1.2rem;
  border-radius: 0 0 10px 10px;
}

.container .content .row > h1 {
  font-size: 1.7rem;
  margin-top: 1rem;
  line-height: 1.3;
}

.container .content .row > p {
  margin-top: 1.4rem;
  line-height: 1.8;
  font-size: 1rem;
  color: var(--stat-headings);
}

.container .content .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.container .content .items .item {
  list-style: none;
  color: var(--stat-headings);
  font-family: var(--primary-font);
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.8;
  margin-bottom: 2rem;
}

/* Image Box */
.container .image {
  background: url(./images/image-header-mobile.jpg) no-repeat center
    center/cover;
  width: 100%;
  height: 30vh;
  border-radius: 10px 10px 0 0;
}

.container .image .overlay {
  background-color: var(--overlay-color);
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

/* Footer */

.attribution {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3rem auto;

  align-items: center;
  justify-content: center;
}

/* Desktop view */

@media (min-width: 960px) {
  body {
    margin: 5rem 3rem;
  }
  span.text-secondary {
    color: var(--main-heading-stats);
    font-size: 1.5rem;
  }
  .container {
    flex-direction: row;
    text-align: left;
    background: var(--card-background);
    border-radius: 10px;
    width: 100%;
  }

  .container .content {
    width: 50%;
    padding: 0;
    background: none;
    padding: 0 3rem;
  }
  .container .content .row > h1 {
    font-size: 2em;
  }

  .container .content .row > p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .container .content .items {
    flex-direction: row;
    justify-content: left;
    margin-top: 2rem;
  }

  .container .content .items .item {
    list-style: none;
    color: var(--stat-headings);
    font-family: var(--primary-font);
    font-size: 0.8rem;

    padding-right: 4rem;
  }

  .container .image {
    background: url(./images/image-header-desktop.jpg) no-repeat center
      center/cover;
    width: 50%;
    height: 70vh;
    border-radius: 0 10px 10px 0;
  }

  .container .image .overlay {
    background-color: var(--overlay-color);
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }
}
